{#
/**
 * core/modules/system/templates/block--system-branding-block.html.twig
 * @file
 * Default theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @ingroup themeable
 */
#}
{% block content %}
  {% if site_logo %}
    <div class="col-2">
      <a href="{{ path('<front>') }}" rel="home">
        <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" class="img-fluid" id="logo"/>
      </a>
    </div>
  {% endif %}
  {% if site_name %}
    <div class="col-10">
      <h1>{{ site_name }}</h1>
    </div>
  {% endif %}
  {{ site_slogan }}
{% endblock %}
